@charset "UTF-8";

/* Importação de font ( google fonts) */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* variáveis */
:root {
    --azul: #05152b;
    --branco: #fff;
    --bege: #F5DEB3;
    --preto: #000000;
    --vermelho: #FF0000;
    --cinza: #808080;
    --cinzaescuro: #4F4F4F;

}

/* CSS Reset (compatibilizar com todos navegadores */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

/************************************************* Layout******************************************/
body {
    font-family: "Open Sans", serif;
    font-size: 1em;
    /* 1em = 100% ( tamanho padrão )*/
    background-color: var(--background);
}

.container {

    margin: 0 auto;
    /* margem centralizada o bloco*/
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.botao {
    text-decoration: none;
    color: #fff;
    font-size: 1.3em;
    font-weight: 700;
    background-color: #000000;
    width: 200px;
    padding: 3px 0px;
    border: 2px solid #000000;
    border-radius: 25px;
    align-self: center;
    margin-top: 20px;

}

/********************************************fim layout >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/



/************************************************ Smartphone Portrait >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/



/******************************************************* Cabeçalho *****************************************/
header {
    height: 67px;
    background-color: #D2B48C;
}

#logo img {
    width: 85px;
    height: 85px;

}

#check {
    display: none;
}

/* Efeito de deslizar o menu */
/*Se check estiver "ticado", criar um estilo para ul */
#check:checked~ul {
    right: 0;
}

label {
    font-size: 3em;
    position: fixed;
    top: 5px;
    right: 15px;
    color: rgba(252, 255, 253, 0.8);
    /*  */
}

nav ul {
    list-style: none;
    /* 100vh - 100% altura da tela */
    background-color: rgba(0, 0, 0, 0.8);
    height: 100vh;
    /*remover bullets */

    position: fixed;
    top: 68px;
    right: -90%;
    width: 72%;
    transition: all 0.4s;

}

nav ul li {
    padding: 15px 20px 15px 20px;
    border-bottom: 3px solid var(--branco);
    text-align: right;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    /*remover sublinado*/
}

/************************************************** Banner ***************************************************/
main {
    height: 100vh;
    /* ajuste da altura do banner */
    background: url(img/semcoroa.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

main h1,
h2 {
    text-shadow: #000 0.09em 0.09em 0.09em;
    /* sombra */
}

main h1 {
    color: var(--branco);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3em;
    margin-top: 60px;

}

main h2 {
    color: var(--branco);
    font-size: 2em;
    margin-top: 10px;
    font-weight: 900;
}


/*>>>>>>>>>>>>>>>>>>>>>>>>>> >>>>>>>>>>>>>>>>>>>>>>>>Fim do Portrait<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/************************************************DESTAQUE**************************************************/
#destaque {
    background: url(img/backgpt.jpg);
    background-size: cover; /* Ajusta o tamanho da imagem de fundo */
    background-position: center;
    /*espaçamento interno para nao encostar na borda da tela do dispositivo*/
    padding: 50px 15px;
}

/* Atenção Organizado o container após o destaque o estilo é aplicado apenas ao container da seção de destaque */
#destaque .container {
    flex-direction: column;
    align-items: center;
}

/*#imagemDestaque{
    display: center;
    align-items: center;
}*/
#imagemdestaque img {
    width: 200px;
    height: 200px;
    /*arrendondar uma imagem quadrada*/
    border-radius: 50%;
}

#textodestaque {
    color: var(--branco);
}

#textodestaque h2 {
    margin-bottom: 20px;
}

/* Atenção !!! detalhe do sinal ">" é referente ao elemento imediato*/
#textodestaque>p {
    color: var(--preto);
    font-weight: 700;
}

.topicos {
    display: flex; 
    /*flex-direction: column; /* Organiza os itens em uma coluna */
    align-items: center;
    margin-top: 15px;
}

.topicos img {
    margin-right: 5px;
}

.topicos p {
    font-weight: 700;
}

/*************************************sobre*************************/
#sobre .container {
    flex-direction: column;
}

#sobre {
    padding: 50px 15px;
}

#sobre h2,
p {
    color: var(--branco);
}

#sobre h2 {
    margin-bottom: 20px;
}

#video iframe {
    width: 340px;
    height: 191px;
    margin-top: 20px;
}

#sobre {
    background-color: #4F4F4F;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>Smartphone Landscape >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 576px) {

    /****** Layout ******/
    .container {
        max-width: 667px;
        /* background-color: #ffff00;*/
    }

    /****** Cabeçalho ******/
    nav ul {
        right: -50%;
        width: 50%;
    }

    /****** Banner ******/
    main {
        height: 100vh;
    }

    main h1 {
        font-size: 4em;
    }

    /******************destaque*************************************************************/
    #destaque .container {
        flex-direction: column;
    }

    #imagemdestaque {
        margin-right: 90px;
    }

    #imagemDestaque img {
        width: 256px;
        height: 256px;
    }
    /******sobre******/
    #video iframe {
        width: 560px;
        height: 315px;
        
    }

}



/* Fim | Smartphone Landscape >>>>>>>>>>>>>>>>>>>>>>*/


/* Tablet Portrait >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 768px) {

    /******* Layout ******/
    .container {
        max-width: 768px;
        /* background-color: #00ff00; */
    }

    /****** Banner ******/
    main {
        height: 100vh;
    }

    main h1 {
        font-size: 5em;
    }

    main h2 {
        font-size: 3em;
        margin-top: 70px;
    }

    header {
        height: 100px;
        background-color: #D2B48C;
    }

    #logo img {
        width: 140px;
        height: 120px;

    }

    .botao {
        text-decoration: none;
        color: #fff;
        font-size: 1.9em;
        font-weight: 900;
        background-color: #000000;
        width: 300px;
        padding: 10px 5px 10px 5px;
        border: 2px solid #000000;
        border-radius: 25px;
        align-self: center;
        margin-top: 30px;
    }

    nav ul {
        list-style: none;
        /* 100vh - 100% altura da tela */
        background-color: rgba(0, 0, 0, 0.8);
        height: 100vh;
        /*remover bullets */

        position: fixed;
        top: 100px;
        right: -90%;
        width: 72%;
        transition: all 0.6s;

    }

    /****************************destaque***************************************************************/
    #imagemDestaque img {
        width: 500px;
        height: 400px;
    }

    #imagemdestaque {
        margin-right: 90px;
    }

    #textodestaque {
        color: var(--branco);
        font-size: 1.3em;
    }

    #textodestaque>p {
        color: var(--branco);
        font-size: 1.2em;
    }

    .topicos p {
        font-weight: 700;
    }
    /******sobre******/
    #video iframe {
        width: 560px;
        height: 315px;
        
    }
}




/* Fim | Tablet Portrait >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/


/* Tablet Landscape >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 992px) {

    /****** Layout ******/
    .container {
        max-width: 1050px;
        /* background-color: #ffa500; */
    }

    /****** Banner ******/
    main {
        height: 100vh;
    }

    nav ul {
        list-style: none;
        /* 100vh - 100% altura da tela */
        background-color: rgba(0, 0, 0, 0.8);
        height: 100vh;
        /*remover bullets */

        position: fixed;
        top: 100px;
        right: -90%;
        width: 52%;
        transition: all 0.5s;

    }

}


/* Fim | Tablet Landscape >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/


/* PCs / Notebooks >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 1200px) {

    /****** Layout ******/
    .container {
        max-width: 1140px;
        /* background-color: #ff009d; */
    }

    /****** Cabeçalho ******/
    header {
        height: 100px;
    }

    #logo img {
        width: 180px;
        height: 125px;
    }

    /* Transformação do menu */
    label {
        display: none;
    }

    nav ul {
        margin-top: 25px;
        width: 100%;
        height: auto;
        position: static;
        /* remover a cor do background */
        background-color: transparent;
    }

    nav ul li {
        float: left;
        border: 0;
    }

    nav ul li a {
        color: var(--azul);
    }

    nav ul li a:hover {
        color: var(--amarelo);
    }

    /****** Banner ******/
    main h1 {
        font-size: 6em;
    }

    main h2 {
        font-size: 3em;
    }

    /********************************destaque************************/
    #destaque {
        /* o codigo a baico fixa o banner */
        background-attachment: fixed;
    }
    /******sobre******/
    #sobre .container {
        flex-direction: row; 
        align-items: center;
         }
         #video iframe {
             margin: 0;
         }
}

/* Fim | PCs / Notebooks >>>>>>>>>>>>>>>>>>>>>>>>>>>*/


/* Telas Grandes (FullHD / 4K / SmartTV) >>>>>>>>>>>*/
@media (min-width: 1400px) {

    /****** Layout ******/
    .container {
        max-width: 1440px;

        /*background-color: #7d5b8c;*/
    }

    /****** Banner ******/
    main {
        height: 100vh;
    }

    main h1 {
        font-size: 6.5em;
    }

    main h2 {
        font-size: 4em;
    }
}


/* Fim | Telas Grandes (FullHD / 4K / SmartTV) >>>>>*/