@charset "UTF-8";

/* Importação de font ( google fonts) */ 
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* variáveis */ 
:root {
    --azul: #05152b;
    --branco: #fff;
    --bege: #F5DEB3;

}

/* CSS Reset (compatibilizar com todos navegadores */
*{
    margin: 0;
    padding: 0;
    border: 0;
}

/* Layout */ 
body {
    font-family: "Open Sans", serif;
    font-size: 1em; /* 1em = 100% ( tamanho padrão )*/
}

.container{
    margin: 0 auto; /* margem centralizada o bloco*/ 
}

/* Smartphone Portrait >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* Cabeçalho */
header {
    height: 80px;
    background-color: 	#D2B48C;
}

#logo img {
    width: 85px;
    height: 85px;
    margin: 0px 0px 0px 10px;
}

#check {
    display: none;  
}

/* Efeito de deslizar o menu */
/*Se check estiver "ticado", criar um estilo para ul */
#check:checked~ul{
    right: 0px;
}
label {
    font-size: 3em;
    position: fixed;
    top: 5px;
    right: 15px;
    color: rgba(0,0, 0, 0.6); /*  */
}

nav ul {
    height: 100vh; /* 100vh - 100% altura da tela */
    background-color: var(--bege);
    list-style: none;
    /*remover bullets */
    width: 72%;
    position: fixed;
    top: 80px;
    right: -80%;
    transition: all 0.4s;
    
}

nav ul li {
    padding: 15px 20px 15px 20px;
    border-bottom: 3px solid var(--branco);
    text-align: right;
}

nav ul li a {
    color: #8B4513;
    text-decoration: none; /*remover sublinado*/
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/


/* Smartphone Landscape >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 576px) {
    /* Cabeçalho */
    #logo img {
        margin: 0px 0px 55px 0px;
    }
    .container {
        max-width: 540px;
        background-color: 		#D2B48C;
    }
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/


/* Tablet Portrait >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 768px) {
    /* cABEÇALHO*/
    .container {
        max-width: 720px;
        background-color: 	#D2691E;
    }
    header{
        height: 130px;
    }
    #logo img {
        width: 140px;
        height: 140px;
    }
}


/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/


/* Tablet Landscape >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 992px) {
    /* cabeçalho */
    .container{
        max-width: 960px;
        background-color: #ffa500;
    }
    #logo img {
        width: 140px;
        height: 140px;


    }

}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/


/* PCs / Notebooks >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 1200px) {
    .container{
        max-width: 1140;
        background-color: aquamarine;
    }
    #logo img {
        width: 150px;
        height: 140px;
    }

}


/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/


/* Telas FullHd / 4k / smarTv >>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 1400px) {
    .container{
        max-width: 1360;
        background-color: antiquewhite;
    }
    #logo img {
        width: 128px;
        height: 128px;
    }
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/